@media (min-height: 1000px) {
    .promo {
        min-height: 100%;
    }
}

@media (max-width: 1440px) {
    .header {
        &__wrapper {
            justify-content: space-around;
        }
    }
    .promo {
        min-height: 100%;
        &__title {
            margin-top: 220px;
        }
        &__mouse {
            margin-top: 80px;
        }
        &__wrapper {
            margin-top: 80px;
        }
    }
    .news {
        &__link {
            width: 80%;
            font-size: 60px;
        }
    }
}

@media (max-width: 1200px) { //десктопы/планшеты/ноутбуки
    .container {
        padding: 0 10px;
        width: 100%;
    }
    .header {
        &__hamburger {
            display: flex;
        }
        &__list {
            display: none;
        }
    }
    .promo {
        min-height: 100%;
        &__title {
            font-size: 62px;
            margin-top: 150px;
        }
        &__mouse {
            margin-top: 60px;
        }
        &__wrapper {
            margin-top: 60px;
        }
    }
    .reasons {
        padding: 50px 0;
    }
    .works {
        padding: 30px 0 50px 0;
    }
}

@media (max-width: 992px) { //ноутбуки/планшеты
    .header {
        &__wrapper {
            height: 100%;
            margin-top: 15px;
            justify-content: space-around;
        }
        &__logo {
            height: 25px;
        }
        &__hamburger {
            &-long {
                width: 20px;
                height: 2px;
            }
            &-short {
                width: 15px;
                height: 2px;
                margin: 3px 0;
            }
        }
    }
    .promo {
        padding-bottom: 15px;
        &__title {
            width: 100%;
            font-size: 38px;
            margin-top: 85px;
        }
        &__mouse {
            margin-top: 30px;
            height: 80px;
        }
        &__trigger {
            width: 24px;
            height: 30px;
        }
        &__wrapper {
            margin-top: 30px;
        }
        &__address {
            margin-left: 75px;
            &-text {
                font-size: 14px;
            }
        }
        &__tel {
            margin-right: 0px;
            &-text {
                font-size: 14px;
            }
        }
        &__calc {
            font-size: 18px;
        }
    }
    .reasons {
        padding: 30px 0;
        &__title {
            font-size: 32px;
        }
        &__wrapper {
            margin-top: 15px;
        }
        &__card {
            width: 195px;
            height: 195px;
            border: none;
            position: relative;
            margin: 0 15px;
        }
        &__front, &__back {
            border: none;
            &::after {
                content: '';
                position: absolute;
                top: 75px;
                left: 0;
                width: 100%;
                border: 2px solid #FBD765;
                box-shadow: 10px 4px 4px #292310;
                animation: puls 2s 2s 5;
            }
        }
        &__back {
            &::after {
                display: none;
            }
        }
        &__img {
            width: 50px;
            height: 50px;
            margin: 0 auto;
        }
        &__text {
            margin-top: 50px;
            text-align: center;
            width: 100%;
            font-size: 16px;
        }
    }
    .news {
        &__arrow {
            &-left, &-right {
                width: 70px;
                height: 70px;
                right: 1%;
            }
            &-left {
                left: 1%;
            }
        }
        &__link {
            width: 80%;
            font-size: 50px;
        }
    }
    .works {
        padding: 10px 0 30px 0;
    }
}

@media (max-width: 768px) { //смартфоны/планшеты
    .container {
        width: 320px;
        padding: 0 15px;
    }
    .header {
        &__wrapper {
            justify-content: space-between;
        }
    }
    .promo {
        &__title {
            font-size: 24px;
        }
        &__mouse {
            margin-top: 30px;
        }
        &__wrapper {
            margin-top: 30px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__address {
            margin-left: 0;
            width: 100%;
            justify-content: center;
            align-items: center;
            &-icon {
                width: 11px;
                height: 17px;
            }
            &-text {
                margin-left: 10px;
                font-size: 12px;
            }
        }
        &__tel {
            margin-top: 10px;
            width: 100%;
            justify-content: center;
            align-items: center;
            &-icon {
                width: 11px;
                height: 13px;
            }
            &-text {
                margin-left: 10px;
                font-size: 12px;
            }
        }
    }
    .reasons {
        &__title {
            font-size: 20px;
        }
        &__card {
            height: 150px;
        }
        &__text {
            font-size: 12px;
            line-height: 130%;
        }
    }
    .news {
        &__arrow {
            &-left, &-right {
                display: none;
            }
        }
        &__link {
            width: 100%;
            font-size: 22px;
        }
    }
    .works {
        &__card {
            width: 90%;
        }
        &__button {
            width: 200px;
            height: 40px;
            font-size: 12px;
        }
        &__title {
            font-size: 16px;
            line-height: 19px;
            margin-top: 15px;
        }
        &__subtitle {
            font-size: 14px;
            line-height: 19px;
            margin-top: 10px;
        }
        &__row {
            margin-top: 10px;
        }
        &__name {
            font-size: 14px;
            line-height: 19px;
        }
        &__price {
            font-size: 14px;
            line-height: 19px;
        }
        &__more {
            font-size: 20px;
            line-height: 19px;
            margin-top: 30px;
            font-weight: 700;
            height: 100%;
            justify-content: center;
            color: $main-orange;
            &::before {
                display: none;
            }
        }
    }
}

@media (max-width: 400px) { //телефоны/смартфоны
    .promo {
        background: url('../img/promo/promo_mob.jpg') no-repeat 50%/cover;
    }
}