@mixin colorToOrange {
    &:hover {
        cursor: pointer;
        color: $main-orange;
        transition: all 0.3s ease;
    }
}

@mixin underLine {
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 22px;
        width: 0;
        height: 2px;
        background-color: $main-orange;
        left: 0;
        transition: width .3s linear;
    }
}

@mixin sircle {
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $main-orange;
    }
}