.header {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        height: 150px;
        align-items: center;
    }
    &__list {
        display: flex;
        position: relative;
        li {
            &:hover {
                .header__sublist {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
    &__item {
        position: relative;
    }
    &__link {
        text-decoration: none;
        position: relative;
        margin-right: 35px;
        @include colorToOrange;
        @include underLine;
        &:hover {
            &::before {
                width: 100%;
            }
        }
        &-last {
            margin-right: 0;
        }
        
    }
    &__sublist {
        position: absolute;
        background-color: $main-blue;
        margin-top: 10px;
        margin-left: 10px;
        visibility: hidden;
        opacity: 0;
        transition: all .5s linear;
        li {
            padding: 10px;
            &:first-child {
                margin-top: 0;
            }
        }
    }
    &__sublink {
        text-decoration: none;
    }
    &__hamburger {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        &-long {
            display: block;
            width: 33px;
            height: 3px;
            background-color: $main-orange;
        }
        &-short {
            margin: 4px 0;
            display: block;
            width: 22px;
            height: 3px;
            background-color: $main-orange;
        }
    }
    li {
        list-style-type: none;
    }
}