.header {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        height: 150px;
        align-items: center;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        li {
            list-style-type: none;
        }
    }
    &__item {
        position: relative;
        padding-right: 13px;
        list-style-type: none;
        margin-right: 23px;
        text-decoration: none;
        @include colorToOrange;
        @include rec;
    }
    &__hamburger {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        &-long {
            display: block;
            width: 33px;
            height: 3px;
            background-color: $main-orange;
        }
        &-short {
            margin: 4px 0;
            display: block;
            width: 22px;
            height: 3px;
            background-color: $main-orange;
        }
    }
}