.menu {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    height: 100vh;
    width: 100%;
    z-index: 1000;
    transition: all .5s ease;
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $main-blue;
        opacity: .7;
    }
    &__inner {
        padding: 20px 30px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20001;
        min-width: 280px;
        height: 100%;
        background-color: $main-blue;
        display: flex;
        flex-direction: column;
        &::before {
            content: "";
            position: absolute;
            width: calc(100% - 2px);
            height: 0px;
            left: 0px;
            top: 99px;
            border: 1px solid #262323;
        }
    }
    &__logo {
        align-self: center;
    }
    &__sublist {
        display: block;
    }
    &__sublink {
        display: block;
        position: relative;
        visibility: visible;
        opacity: 1;
        margin: 20px;
        text-decoration: none;
        transition: all .5s linear;
        @include sircle;
        &::before {
            left: -10px;
        }
    }
    &__link {
        position: relative;
        display: block;
        margin-top: 30px;
        text-decoration: none;
        @include colorToOrange;
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            border: 1px dashed #262323;
            bottom: -10px;
            left: 0;
            width: 200px;
        }
        &-active {
            &::before {
                content: url('../icons/promo/arrow.svg');
                position: absolute;
                right: 0px;
                transition: transform .2s linear;
                transform: rotate(90deg);
            }
            &:active, &:hover {
                &::before {
                    transform: rotate(270deg);
                }
            }
        }
        &:hover {
            .menu__sublink {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    li {
        list-style-type: none;
    }
}