.news {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url('../img/news/news_bg.jpg') no-repeat 50%/cover;
    &__arrow {
        &-left {
            position: absolute;
            top: 50%;
            transform: translateY(-50%) rotate(180deg);
            left: 4%;
            width: 100px;
            height: 100px;
            transition: all .1s linear;
            img {
                width: 100%;
            }
            &:hover {
                width: 120px;
                height: 120px;
            }
        }
        &-right {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 4%;
            width: 100px;
            height: 100px;
            transition: all .1s linear;
            img {
                width: 100%;
            }
            &:hover {
                width: 120px;
                height: 120px;
            }
        }
    }
    &__card {
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__link {
        text-align: center;
        text-decoration: none;
        text-shadow: 10px 4px 4px rgba(41, 35, 16, 0.75);
    }
    &__dots {
        position: absolute;
        bottom: 3%;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 100px;
        width: 85px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:hover {
            cursor: pointer;
        }
    }
    &__dot {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: white;
        &:hover {
            background-color: $main-orange;
        }
        &-middle {
            width: 10px;
            height: 10px;
        }
        &-small {
            width: 5px;
            height: 5px;
        }
    }
}