.promo {
    position: relative;
    min-height: 100vh;
    background: url('../img/promo/promo_bg.jpg') no-repeat 50%/cover;
    padding: 1px 0 60px 0;
    &__title {
        margin: 0 auto;
        margin-top: 250px;
        text-align: center;
        width: 95%;
        text-shadow: 10px 4px 4px rgba(41, 35, 16, 0.75);
    }
    &__trigger {
        background: url('../icons/promo/mouse.svg') no-repeat 50%/cover;
        margin: 0 auto;
        position: relative;
        width: 50px;
        height: 56px;
        transition: animation 4s linear;
        animation: upDown 2s linear 2s infinite;
        &:hover {
            cursor: pointer;
        }
    }
    &__mouse {
        margin: 0 auto;
        height: 120px;
        margin-top: 120px;
    }
    &__calc {
        // display: none;
        margin-top: 20px;
        text-align: center;
        a {
            // opacity: 0;
            transition: all 1.5s ease;
            color: $main-orange;
            font-weight: 500;
            text-decoration: none;
        }
    }
    &__wrapper {
        margin: 0 auto;
        margin-top: 168px;
        display: flex;
        justify-content: space-around;
    }
    &__address {
        display: flex;
        width: 280px;
        margin-left: 150px;
        &-text {
            margin-left: 20px;
            transition: all 3s all;
            text-decoration: none;
            @include colorToOrange;
        }
        &-icon {
            width: 15px;
            height: 24px;
            background: url('../icons/promo/place.svg') no-repeat 100%/cover;
        }
    }
    &__tel {
        display: flex;
        width: 280px;
        margin-right: 150px;
        &-text {
            margin-left: 20px;
            transition: all 3s all;
            text-decoration: none;
            @include colorToOrange;
        }
        &-icon {
            width: 21px;
            height: 24px;
            background: url('../icons/promo/phone.svg') no-repeat 100%/cover;
        }
    }
}