.reasons {
    padding: 100px 0 60px 0;
    background-color: $main-blue;
    &__title {
        opacity: 0;
        text-align: center;
        margin-bottom: 60px;
    }
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__card {
        margin: 0 20px;
        position: relative;
        width: 300px;
        height: 300px;
        margin-bottom: 40px;
        &:hover .reasons__front {
            transform: perspective(600px) rotateY(180deg);
        }
        &:hover .reasons__back {
            transform: perspective(600px) rotateY(0deg);
        }
    }
    &__front, &__back {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border: 2px solid #FBD765;
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
        border-radius: 50px;
        backface-visibility: hidden;
        transition: all .5s linear;
    }
    &__front {
        transform: perspective(600px) rotateY(0deg);
    }
    &__back {
        transform: perspective(600px) rotateY(180deg);
    }
    &__img {
        height: 70px;
        display: block;
        margin: 60px auto 0 auto;
    }
    &__text {
        margin: 60px auto 0 auto;
        text-align: center;
        width: 220px;
        span {
            color: $main-orange;
        }
    }
}