.title {
    font-weight: 400;
    color: #FFFFFF;
    &-fz16 {
        font-size: 16px;
        line-height: 19px;
    }
    &-fz18 {
        font-size: 18px;
        line-height: 22px;
    }
    &-fz24 {
        font-size: 24px;
        line-height: 28px;
    }
    &-fz80 {
        font-size: 80px;
        line-height: 130%;
        font-weight: 700;
    }
}