.title {
    font-weight: 400;
    color: #FFFFFF;
    &-fz14 {
        font-size: 14px;
        line-height: 17px;
    }
    &-fz16 {
        font-size: 16px;
        line-height: 19px;
    }
    &-fz18 {
        font-size: 18px;
        line-height: 22px;
    }
    &-fz20 {
        font-size: 20px;
        line-height: 23px;
    }
    &-fz22 {
        font-size: 22px;
        line-height: 26px;
    }
    &-fz24 {
        font-size: 24px;
        line-height: 28px;
    }
    &-fz48 {
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
    }
    &-fz80 {
        font-size: 80px;
        line-height: 130%;
        font-weight: 700;
    }
}